<div class="container text-center d-flex justify-content-center align-items-center vh-100 g-4 ">
  
  
  <div class="col-4">
    <app-acceso-rapido (seleccionarUsuario)="seleccionar($event)"></app-acceso-rapido>

  </div>
  <div class="col-6">

    <app-login [usuario]="accesoRapido" pathExito="home"></app-login>
  </div>
<!--
  <label for="">email</label>
  <input type="text" [(ngModel)]="email">
  <label for="">password</label>
  <input type="text"[(ngModel)]="password">
  <button (click)="enviar()">enviar</button>
  -->
</div>