<div class="container text-center contenedor shadow">


        <h1>Seleccione un dia</h1>
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4 ">
            <ng-container *ngFor="let item of horarios">

                <div class="col " (click)="seleccionar(item)">
                    <div class="card tarjeta shadow" >
                        <div class="card-body contenedorCard">
                            <h5 class="card-title">Turnos del dia:</h5>
                            <div class="card-body">
                              <p>{{ item.getDate()}} / {{ item.toLocaleDateString('es-ES', {  month: '2-digit' })}}</p>
                              
                            </div>
                        </div>
                    </div>
                </div>
            </ng-container>

        </div>

</div>