<app-header></app-header>

<div class="container text-center" [style.view-transition-name]="'animacion1'">
    <div class="contenedor">
        <div class="row">
            <h1>Lista de usuarios registrados</h1>
            <div>
                <app-listado-usuarios></app-listado-usuarios>
            </div>
        </div>
        
       
        <div class="row separar">
            <h2>Registro de usuario</h2>
            <div class="col">
                <div class="circle" (click)="utilSvc.goto('home/usuarios/especialista')">
                    <img src="assets/especialista.png">
                </div>
            </div>
            <div class="col">
                <div class="circle" (click)="utilSvc.goto('home/usuarios/paciente')">
                    <img src="assets/paciente.png">
                </div>
            </div>
            <div class="col">
                <div class="circle" (click)="utilSvc.goto('home/usuarios/admin')">
                    <img src="assets/admin.png">
                </div>
            </div>
        </div>
    </div>
    <div class="row separar">
        <h1>Historiales de pacientes </h1>
        <div>

            <app-tabla-pacientes (especialidadSelect)="seleccionar($event)"
                [especialistas]="pacientes"></app-tabla-pacientes>

        </div>
    </div>
</div>