<div class="form-signin m-auto formLogin border border-black contenedor">
    <form (submit)="submit()" [formGroup]="this.form"  class="form-signin m-auto formLogin">
        <div class="form-floating">
            <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com" [formControl]="form.controls.email">
            <label for="floatingInput">Dirección de correo electrónico</label>
            <div class="text-danger" *ngIf="form.get('email')?.touched">
                <label *ngIf="form.controls.email.getError('required')">Email requerido</label>
                <label *ngIf="form.controls.email.getError('email')">Email invalido</label>
                <label *ngIf="form.controls.email.getError('maxlength')">Solo puede tener 100 caracteres</label>
            </div>
        </div>

        <div class="form-floating">
            <input type="text" class="form-control" id="nombre" placeholder="nombre" [formControl]="form.controls.nombre">
            <label for="nombre">Nombre</label>
            <div class="text-danger" *ngIf="form.get('nombre')?.touched">
                <label *ngIf="form.controls.nombre.getError('required')">nombre requerido</label>
                <label *ngIf="form.controls.nombre.getError('minlength')">Debe tener por lo menos 4 caracteres</label>
                <label *ngIf="form.controls.nombre.getError('maxlength')">Puede tener como maximo 60 caracteres</label>
            </div>
        </div>

        <div class="form-floating">
            <input type="text" class="form-control" id="apellido" placeholder="apellido" [formControl]="form.controls.apellido">
            <label for="apellido">Apellido</label>
            <div class="text-danger" *ngIf="form.get('apellido')?.touched">
                <label *ngIf="form.controls.apellido.getError('required')">Apellido requerido</label>
                <label *ngIf="form.controls.apellido.getError('minlength')">Debe tener por lo menos 4 caracteres</label>
                <label *ngIf="form.controls.apellido.getError('maxlength')">Puede tener como maximo 60 caracteres</label>
            </div>
        </div>
        
        
        <div class="form-floating">
            <input type="password" class="form-control" id="floatingPassword" placeholder="Password" [formControl]="form.controls.password">
            <label for="floatingPassword">Contraseña</label>
            <div class="text-danger" *ngIf="form.get('password')?.touched">
                <label *ngIf="form.controls.password.getError('required')">contraseña requerida</label>
                <label *ngIf="form.controls.password.getError('minlength')">la contraseña debe tener minimo 5 letras</label>
                <label *ngIf="form.controls.password.getError('maxlength')">Puede tener como maximo 60 caracteres</label>
            </div>
        </div>

        <div class="form-floating">
            <input type="number" class="form-control" id="dni" placeholder="dni" [formControl]="form.controls.dni">
            <label for="dni">DNI</label>
            <div class="text-danger" *ngIf="form.get('dni')?.touched">
                <label *ngIf="form.controls.dni.getError('required')">DNI requerido</label>
                <label *ngIf="form.controls.dni.getError('max')">El DNI no puede superar los 100.000.000</label>
            </div>
        </div>

        <div class="form-floating">
            <input type="date" class="form-control" id="nacimiento" placeholder="nacimiento" [formControl]="form.controls.nacimiento">
            <label for="nacimiento">Fecha nacimiento</label>
            <div class="text-danger" *ngIf="form.get('nacimiento')?.touched">
                <label *ngIf="form.controls.nacimiento.getError('required')">Fecha de nacimiento requerida</label>
                <label *ngIf="form.controls.nacimiento.getError('dateNotInFuture')">Edad invalida</label>
                <label *ngIf="form.controls.nacimiento.getError('ageMax')">Edad maxima 130 años. Si su edad es mayor registrela en los records guinness </label>
                <p><label *ngIf="form.controls.nacimiento.getError('ageMin')">Debe tener como minimo 18 años</label></p>
            </div>
        </div>
        <div class="form-floating">
            <input type="file" class="form-control" id="foto" placeholder="foto" (change)="cargarFotoPerfil($event)" [formControl]="form.controls['foto']">
            <label for="foto">Foto de perfil</label>
            <div class="text-danger" *ngIf="form.get('foto')?.touched">
                <label *ngIf="form.controls['foto'].getError('required')">foto requerido</label>
                <label *ngIf="form.controls['foto'].getError('invalidFileType')">Ingrese una foto en formato '.png', '.jpg' o 'jpeg'</label>
            </div>
        </div>

        <div *ngIf="tipo == 'paciente'">

    
            <div class="form-floating">
                <input type="file" class="form-control" id="foto_paciente" placeholder="foto_paciente" (change)="cargarFotoPaciente($event)" [formControl]="form.controls.foto_paciente">
                <label for="foto_paciente">foto_paciente de perfil</label>
                <div class="text-danger" *ngIf="form.get('foto_paciente')?.touched">
                    <label *ngIf="form.controls.foto_paciente.getError('required')">foto paciente requerido</label>
                    <label *ngIf="form.controls.foto_paciente.getError('invalidFileType')">Ingrese una foto en formato '.png', '.jpg' o 'jpeg'</label>
                </div>
            </div>
        </div>
        <re-captcha formControlName="recaptchaReactive" (resolved)="resolved($event)" [siteKey]="claveWeb"></re-captcha>
        <button class="btn btn-primary w-100 py-2" type="submit" [disabled]="!form.valid">Registrarse</button>
        <p *ngIf="registro" class="mt-5 mb-3 text-body-secondary">Ya esta registrado? <strong (click)="utilSvc.goto(pathRegistro)"> ingrese aqui</strong></p>
    </form>
</div>
   
