input{
    text-align: center  ;
    border:0;
}
.contenedorCard{
    width: 100%;
    margin:auto

}
.contenedor{
    border-radius: 20px;
    background-color: #78dfe0;
}

.dato{
    width: 100%;
    margin:auto
}

.tarjeta{
    width:250px !important;
    background-color: #e6d378;
    margin: 20px ;
}

.seleccionada{
    background-color: lawngreen;
}
.estrella{
    padding: 0;
    margin: 0;
}
.titulo{
    z-index: 999;
    width: 70%;
    margin: auto;
    margin-top: 20px;
    border-radius: 10px;
}
h5{
    margin-top: 10px;
    font-size: 20px;
    text-decoration: underline;
}
p{
    padding-top: 5px;
    padding-bottom:5px ;
    padding: 5px;
}


.chart{
    width: 400px;
    height: 400px;
}