<app-header></app-header>



<div class="container text-center">
    <div class="contenedor" *ngIf="user">
        <div class="row">
            <div class="col elemento perfil shadow">
                <app-perfil [usuario]="user" (activarEdicion)="editar()"></app-perfil>
            </div>
            <div class="col-lg-4  " *ngIf="user?.rol == 'especialista'">
                <app-listado-especialidades [listaEspecialidades]="user.especialidades" [especialidaIn]="especialidad" (especialidadesActuales)="cambioHorario()" [editable]="edicion"></app-listado-especialidades>
            </div>
            <div class=" col-lg-4" *ngIf="user?.rol == 'paciente'">
                <app-item-obra-social *ngIf="user.obra_social" [obraSocial]="user.obra_social"></app-item-obra-social>
            </div>
        </div>

        <ng-container *ngIf="user && user?.rol == 'especialista'">
            <div class="row  horario perfil shadow">
                <h3>Horarios del especialista</h3>
                <app-horario-especialista (especialidadesActuales)="cambioHorario()" [editable]="edicion" [usuario]="user"></app-horario-especialista>
            </div>
            <div class="row">
                <app-tabla-especialidad *ngIf="edicion" (especialidadSelect)="selecEspecialidad($event)"></app-tabla-especialidad>
            </div>
        </ng-container>
        
        <ng-container *ngIf="user?.rol == 'paciente'">
            <div class="row">
                <app-tabla-obra-social (heladoElegido)="user.obra_social = $event" *ngIf="edicion"></app-tabla-obra-social>
            </div>
            <div class="row">
                <h2 *ngIf="turnos.length==0">No hay ningun historial medico</h2>
                <app-tabla-historial *ngIf="turnos.length!=0"
                [turnos]="turnos"></app-tabla-historial>
            </div>
        </ng-container>
        
       
    </div>
</div>