<app-header></app-header>

<div class="container text-center" [style.view-transition-name]="'animacion1'">
    <div class="row">
      <div class="col-5">
        <h2>formulario de registro</h2>
        <app-form-register tipo="especialista" [datoIngreso]="especialidades" [registroConAdmin]="true"></app-form-register>
      </div>
      <div class="col">
          <h4>Especialidades</h4>
          <app-listado-especialidades [especialidaIn]="especialida" (especialidadesActuales)="enviarAlForm($event)"></app-listado-especialidades>
      </div>

      <div class="col">

          <h3>lista de especialidades</h3>
          <app-tabla-especialidad (especialidadSelect)="seleccionarNueva($event)"></app-tabla-especialidad>
        
      </div>
    </div>
    
  </div>