<app-back path="auth"></app-back>

<h3 class="text-center "> Seleccione como quiere registrarse     </h3>
      <div class="container  ">
        <!-- Three columns of text below the carousel -->
        <div class="row h-100 justify-content-center align-items-center ">
          <div class="col-lg-4 m-2" >
            <div class="circle" (click)="utilSvc.goto('auth/register/paciente')">
                <img src="assets/paciente.png" >
            </div>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4 m-2">
            <div class="circle" (click)="utilSvc.goto('auth/register/especialista')">
                <img src="assets/especialista.png" >
            </div>
          </div><!-- /.col-lg-4 -->
        </div><!-- /.row -->
      </div>
