<app-header></app-header>

<div class="container text-center">
    <div class="contenedor">
        <div class="row elemento perfil shadow">
            <p> elementp</p>
        </div>
        <div class="row elemento carrucel shadow">
            <p> elementp</p>
        </div>
        <div class="row boton shadow">
            <p> elementp</p>
        </div>
        <div class="row boton shadow">
            <p> elementp</p>
        </div>
        <div class="row boton shadow">
            <p> elementp</p>
        </div>
    </div>
</div>