<div class="container text-center contenedor border border-black"  >

  <div class="row">
          <div class="col"  (click)="seleccionar('remongabi16@gmail.com','123456')">
              <div class="circulo">
              <img src="https://firebasestorage.googleapis.com/v0/b/clinica-online-5e1cf.appspot.com/o/6IfhVbWOiRUM7HlgDJdmaMmyc7h2?alt=media&token=4baabedd-3884-4b0c-80b7-6b2df73e1c0e"
              alt="foto de gabriel">
              <div class="bg-dark text-light titulo">
                  <p>ESPECIALISTA 1</p>
              </div>
   
            </div>
          </div>
          <div class="col"  (click)="seleccionar('sabor.digital.pps@gmail.com','123456')">
              <div class="circulo">
              <img src="https://firebasestorage.googleapis.com/v0/b/clinica-online-5e1cf.appspot.com/o/NkjIJ9GtDaUYmG83wDG70DwlByv1?alt=media&token=58ff2181-7de6-4c77-b196-bd07e06cf5f0"
              alt="foto de juana">
              <div class="bg-dark text-light titulo">
                  <p>ESPECIALISTA 2</p>
              </div>
   
            </div>
          </div>
  </div>
  <div class="row ">
          <div class="col"  (click)="seleccionar('gremon120@gmail.com','123456')">
              <div class="circulo">
              <img src="https://firebasestorage.googleapis.com/v0/b/clinica-online-5e1cf.appspot.com/o/CvJshfPMrvf8yQ2ruTnKc0AnWFu2?alt=media&token=6e42afe2-a75f-4725-b694-80015cb16aa9"
              alt="foto de juancito">
              <div class="bg-dark text-light titulo">
                  <p>PACIENTE 1</p>
              </div>
   
            </div>
          </div>
          <div class="col"  (click)="seleccionar('denu.moreno.1990@gmail.com','123456')">
              <div class="circulo">
              <img src="https://firebasestorage.googleapis.com/v0/b/clinica-online-5e1cf.appspot.com/o/r0aCGO1LGLWiySy5Z5wqjQuRpx73p?alt=media&token=da6d635f-b4b9-403f-bf25-a8e7c25449fe"
              alt="foto de daniela">
              <div class="bg-dark text-light titulo">
                  <p>PACIENTE 2</p>
              </div>
   
            </div>
          </div>
  </div>
  <div class="row ">
          <div class="col"  (click)="seleccionar('paciente2lab4@gmail.com','123456')">
              <div class="circulo">
              <img src="https://firebasestorage.googleapis.com/v0/b/clinica-online-5e1cf.appspot.com/o/RCdpZqhQC0NCFD7OtnIipqucJr73?alt=media&token=5358aeeb-6771-43ef-b925-5ec27d52c28d"
              alt="foto de micaela">
              <div class="bg-dark text-light titulo">
                  <p>PACIENTE 3</p>
              </div>
   
            </div>
          </div>
          <div class="col"  (click)="seleccionar('e36020042@gmail.com','123456')">
              <div class="circulo">
              <img src="https://firebasestorage.googleapis.com/v0/b/clinica-online-5e1cf.appspot.com/o/0u3p7eS6sfZsLIJZir40auB8vzW2?alt=media&token=4085015d-9435-404e-a9b2-e3e336ffd7d7"
              alt="foto de juancito admin">
              <div class="bg-dark text-light titulo">
                  <p>ADMIN</p>
              </div>
   
            </div>
          </div>
    
  </div>
</div>
<!--

<div class="d-flex flex-column flex-md-row align-items-center justify-content-center contenedor  shadow">
    <div class="list-group">
        <h1>ACCESO RAPIDO</h1>





      <div class="row">
        <div class="col">
          <a class="list-group-item list-group-item-action d-flex gap-3 py-3" aria-current="true" 
          (click)="seleccionar('remongabi16@gmail.com','123456')">
            <img src="assets/especialista.png" alt="twbs" width="60" height="60" class="rounded-circle flex-shrink-0">
            <div class="d-flex gap-2 w-100 justify-content-between">
              <div>
                <p class="mb-0 opacity-75">ESPECIALISTA</p>
              </div>
            </div>
          </a>
        </div>

        <div class="col">
          <a class="list-group-item list-group-item-action d-flex gap-3 py-3" aria-current="true" 
          (click)="seleccionar('remongabi16@gmail.com','123456')">
            <img src="assets/especialista.png" alt="twbs" width="60" height="60" class="rounded-circle flex-shrink-0">
            <div class="d-flex gap-2 w-100 justify-content-between">
              <div>
                <p class="mb-0 opacity-75">ESPECIALISTA</p>
              </div>
            </div>
          </a>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <a class="list-group-item list-group-item-action d-flex gap-3 py-3" aria-current="true" 
          (click)="seleccionar('gremon120@gmail.com','123456')">
            <img src="assets/paciente.png" alt="twbs" width="60" height="60" class="rounded-circle flex-shrink-0">
            <div class="d-flex gap-2 w-100 justify-content-between">
              <div>
                <p class="mb-0 opacity-75">PACIENTE</p>
              </div>
            </div>
          </a>
        </div>

        <div class="col">
          <a class="list-group-item list-group-item-action d-flex gap-3 py-3" aria-current="true" 
          (click)="seleccionar('gremon120@gmail.com','123456')">
            <img src="assets/paciente.png" alt="twbs" width="60" height="60" class="rounded-circle flex-shrink-0">
            <div class="d-flex gap-2 w-100 justify-content-between">
              <div>
                <p class="mb-0 opacity-75">PACIENTE</p>
              </div>
            </div>
          </a>
        </div>
      </div>

      <div class="row">

        <div class="col">
          <a class="list-group-item list-group-item-action d-flex gap-3 py-3" aria-current="true" 
        (click)="seleccionar('e36020042@gmail.com','123456')">
          <img src="assets/admin.png" alt="twbs" width="60" height="60" class="rounded-circle flex-shrink-0">
          <div class="d-flex gap-2 w-100 justify-content-between">
            <div>
              <p class="mb-0 opacity-75">ADMIN</p>
            </div>
          </div>
        </a>
        </div>
      </div>



        
    </div>
  </div>-->