<app-header></app-header>


<div class="container text-center">
    <div class="contenedor" *ngIf="paciente">
        <div class="row">
            <div class="col elemento perfil shadow">
                <app-perfil [usuario]="paciente" ></app-perfil>
            </div>
            <div class=" col-lg-4" *ngIf="paciente?.rol == 'paciente'">
                <app-item-obra-social *ngIf="paciente.obra_social" [obraSocial]="paciente.obra_social"></app-item-obra-social>
            </div>
        </div>

        <ng-container>
          
            <div class="row">
                <h2 *ngIf="turnos.length==0">No hay ningun historial medico</h2>
                <app-tabla-historial *ngIf="turnos.length!=0"
                [turnos]="turnos"></app-tabla-historial>
            </div>
        </ng-container>
        
       
    </div>
</div>