/* You can add global styles to this file, and also import other style files */
@import 'ngx-toastr/toastr';

html, body{
    background-image: url('assets/fondo.png');
    background-size: 100% 100%;
    background-repeat: repeat ;
    height: 100%;
    margin: 0;
    padding: 0;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


@keyframes slide-out{
    from {
        transform: translateY(0);
      }
      to {
        transform: translateY(100%);
      }    
}

@keyframes slide-in{
    from {
        transform: translateY(-100%);
        opacity: 0;
      }
      to {
        transform: translateY(0);
        opacity: 1;
      }
    
}


::view-transition-new(animacion1){
    animation-duration: 1s;
    animation-name:-ua-view-transition-fade-in,slide-in ;
}
::view-transition-old(animacion1){
    animation-duration: 1s;
    animation-name:-ua-view-transition-fade-out,slide-out ;
}