<app-header></app-header>

<div class="container text-center" [style.view-transition-name]="'animacion1'">
    <div class="row">
      <div class="col-5">
        <h2>formulario de registro</h2>
        <app-form-register tipo="paciente" [datoIngreso]="obraSocial" [registroConAdmin]="true"></app-form-register>
      </div>
      <div class="col">
        <h4  *ngIf="!obraSocial">Seleccione una obra social de la lista obra social</h4>
        <ng-container *ngIf="obraSocial">
          <h4>Obra social</h4>
        <app-item-obra-social [obraSocial]="obraSocial"></app-item-obra-social>
        </ng-container>
      </div>
  
      <div class="col">

          <h3>lista de obras sociales</h3>
          <app-tabla-obra-social (heladoElegido)="seleccionar($event)"></app-tabla-obra-social>

        
      </div>
    </div>
    
  </div>